<!-- EVENT attachment_file_before -->

<!-- BEGIN _file -->

	<!-- IF _file.S_DENIED -->
		<span class="genmed">[{_file.DENIED_MESSAGE}]</span><br />
	<!-- ELSE -->
		<!-- EVENT attachment_file_prepend -->

		<!-- IF _file.COMMENT -->
			<span class="gensmall"><b>{L_FILE_COMMENT}{L_COLON}</b> {_file.COMMENT}</span><br />
		<!-- ENDIF -->

		<!-- IF _file.S_THUMBNAIL -->
			<a href="{_file.U_DOWNLOAD_LINK}"><img src="{_file.THUMB_IMAGE}" class="postimage" alt="{% if _file.COMMENT %}{{ _file.COMMENT|e('html') }}{% else %}{{ _file.DOWNLOAD_NAME }}{% endif %}" /></a><br />
			<span class="gensmall">{_file.DOWNLOAD_NAME} [ {_file.FILESIZE} {_file.SIZE_LANG} | {_file.L_DOWNLOAD_COUNT} ]</span>
		<!-- ENDIF -->

		<!-- IF _file.S_IMAGE -->
			<img src="{_file.U_INLINE_LINK}" class="postimage" alt="{% if _file.COMMENT %}{{ _file.COMMENT|e('html') }}{% else %}{{ _file.DOWNLOAD_NAME }}{% endif %}" /><br />
			<span class="gensmall">{_file.DOWNLOAD_NAME} [ {_file.FILESIZE} {_file.SIZE_LANG} | {_file.L_DOWNLOAD_COUNT} ]</span>
		<!-- ENDIF -->

		<!-- IF _file.S_FILE -->
			<span class="genmed">
				<!-- IF _file.UPLOAD_ICON -->{_file.UPLOAD_ICON} <!-- ENDIF -->
				<a href="{_file.U_DOWNLOAD_LINK}">{_file.DOWNLOAD_NAME}</a> [{_file.FILESIZE} {_file.SIZE_LANG}]
			</span><br />
			<span class="gensmall">{_file.L_DOWNLOAD_COUNT}</span>
		<!-- ENDIF -->

		<!-- EVENT attachment_file_append -->
		<br />
	<!-- ENDIF -->

<!-- END _file -->
<!-- EVENT attachment_file_after -->
