<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form name="confirm" action="{S_CONFIRM_ACTION}" method="post">
	
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{MESSAGE_TITLE}</th>
	</tr>
	<tr>
		<td class="row1">
			<div style="max-width: 800px; margin: auto;">
				<br />
				<p class="gen" style="text-align: center;">{MESSAGE_TEXT}</p>
				<br />

				<!-- IF not S_SHADOW_TOPICS -->
					<!-- IF not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE -->
						<div style="display: inline-block; text-align: left; margin-right: 2em;">
							<b class="gen">{L_DELETE_PERMANENTLY}{L_COLON}</b>
						</div>
						<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT} />
						<!-- IF S_TOPIC_MODE -->{DELETE_TOPIC_PERMANENTLY_EXPLAIN}<!-- ELSE -->{DELETE_POST_PERMANENTLY_EXPLAIN}<!-- ENDIF -->
						<br /><br />
					<!-- ENDIF -->

					{% EVENT confirm_delete_body_delete_reason_before %}

					<div style="display: inline-block; text-align: left; margin-right: 2em;">
						<span class="gen"><b>{L_DELETE_REASON}{L_COLON}</b></span><br /><span class="gensmall">{L_DELETE_REASON_EXPLAIN}</span>
					</div>
					<input type="text" name="delete_reason" value="" class="inputbox autowidth" maxlength="120" size="45" />
					<br /><br />

				<!-- ENDIF -->

				<p style="text-align: center;">
					{S_HIDDEN_FIELDS}
					<input type="submit" name="confirm" value="{L_YES}" class="btnmain" />&nbsp;&nbsp;
					<input type="submit" name="cancel" value="{L_NO}" class="btnlite" />
				</p>
			</div>
		</td>
	</tr>
	</table>
	
	</form>
	
</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->
