<!-- INCLUDE overall_header.html -->

<div align="center">

<form action="{{ U_RESET_PASSWORD_ACTION }}" method="post">

<table class="tablebg" width="50%" cellspacing="1" cellpadding="4" border="0">
<tr>
	<th colspan="2">{{ lang('RESET_PASSWORD') }}</th>
</tr>
{% if S_IS_PASSWORD_RESET %}
	{% if PASSWORD_RESET_ERRORS %}
	<tr>
		<td colspan="2" class="row1" align="center"><br /><p class="gen">
			{{ PASSWORD_RESET_ERRORS | join('<br>') }}
		</p><br /></td>
	</tr>
	{% endif %}
	<tr>
		<td class="row1" width="38%"><b class="genmed">{{ lang('NEW_PASSWORD') ~ lang('COLON') }}</b></td>
		<td class="row2"><input type="password" class="post" name="new_password" size="25" maxlength="255" title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off" /></td>
	</tr>
	<tr>
		<td class="row1" width="38%"><b class="genmed">{{ lang('CONFIRM_PASSWORD') ~ lang('COLON') }}</b></td>
		<td class="row2"><input type="password" class="post" name="new_password_confirm" size="25" maxlength="255" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off" /></td>
	</tr>
{% else %}
	{% if USERNAME_REQUIRED %}
	<tr>
		<td colspan="2" class="row1" align="center"><br /><p class="gen">
			{{ lang('EMAIL_NOT_UNIQUE') }}
		</p><br /></td>
	</tr>
	{% endif %}
	{% if USERNAME_REQUIRED %}
	<tr>
		<td class="row1" width="38%"><b class="genmed">{L_USERNAME}{L_COLON} </b></td>
		<td class="row2"><input type="text" class="post" name="username" size="25" value="{USERNAME}" /></td>
	</tr>
	{% endif %}
	<tr>
		<td class="row1" width="38%"><b class="genmed">{L_EMAIL_ADDRESS}{L_COLON} </b><br /><span class="gensmall">{L_EMAIL_REMIND}</span></td>
		<td class="row2"><input type="email" class="post" name="email" size="25" maxlength="100" value="{EMAIL}" /></td>
	</tr>
{% endif %}
<tr>
	<td class="cat" colspan="2" align="center">
		{{ S_HIDDEN_FIELDS }}
		<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="btnmain" />
		&nbsp;&nbsp;
		<input type="reset" name="reset" value="{{ lang('RESET') }}" class="btnlite" />
	</td>
</tr>
</table>
{{ S_FORM_TOKEN }}
</form>

</div>

<!-- INCLUDE overall_footer.html -->
