<tr class="avatar_option_avatar_driver_remote">
	<td class="row1" width="35%">
		<b class="genmed">{{ lang('LINK_REMOTE_AVATAR') ~ lang('COLON') }}</b>
		<br/>
		<span class="gensmall">{{ lang('LINK_REMOTE_AVATAR_EXPLAIN') }}</span>
	</td>
	<td class="row2">
		<input type="text" name="avatar_remote_url" id="avatar_remote_url"
			   value="{{ AVATAR_REMOTE_URL }}" class="post"/>
	</td>
</tr>
<tr class="avatar_option_avatar_driver_remote">
	<td class="row1" width="35%">
		<b class="genmed">{{ lang('LINK_REMOTE_SIZE') ~ lang('COLON') }}</b>
		<br/>
		<span class="gensmall">{{ lang('LINK_REMOTE_SIZE_EXPLAIN') }}</span>
	</td>
	<td class="row2">
		<input type="number" name="avatar_remote_width" id="avatar_remote_width" min="{{ AVATAR_MIN_WIDTH }}"
			   max="{{ AVATAR_MAX_WIDTH }}" value="{{ AVATAR_REMOTE_WIDTH }}" class="inputbox autowidth"/>
		{{ lang('PIXEL') }} &times;&nbsp;
		<input type="number" name="avatar_remote_height" id="avatar_remote_height" min="{{ AVATAR_MIN_HEIGHT }}"
			   max="{{ AVATAR_MAX_HEIGHT }}" value="{{ AVATAR_REMOTE_HEIGHT }}" class="inputbox autowidth"/>
		{{ lang('PIXEL') }}
	</td>
</tr>
