{% include 'ucp_header.html' %}

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2" valign="middle">{{ lang('TITLE') }}</th>
	</tr>
	{% if ERROR %}
		<tr>
			<td class="row3" colspan="2" align="center"><span class="gensmall error">{{ ERROR }}</span></td>
		</tr>
	{% endif %}
	<tr>
		<td class="row1" width="35%">
			<b class="genmed">{{ lang('CURRENT_IMAGE') ~ lang('COLON') }}</b>
			<br/>
			<span class="gensmall">{{ lang('AVATAR_EXPLAIN') }}</span>
		</td>
		<td class="row2" align="center">
			<br/>
			{% if AVATAR %}
				{{ AVATAR }}
				<br/><br/>
				<input type="checkbox" class="radio" name="avatar_delete"/>
				&nbsp;
				<span class="gensmall">{{ lang('DELETE_AVATAR') }}</span>
			{% else %}
				<img src="{{ T_THEME_PATH }}/images/no_avatar.gif" alt=""/>
			{% endif %}
		</td>
	</tr>
	{% if not S_AVATARS_ENABLED %}
		<tr>
			<td class="row3" colspan="2" align="center">{{ lang('AVATAR_FEATURES_DISABLED') }}</td>
		</tr>
	{% endif %}
	<tr>
		<th colspan="2">{{ lang('AVATAR_SELECT') }}</th>
	</tr>
	<tr>
		<td class="row1" width="35%">
			<b class="genmed">{{ lang('AVATAR_TYPE') ~ lang('COLON') }}</b>
		</td>
		<td class="row2">
			<select name="avatar_driver" id="avatar_driver" data-togglable-settings="true">
				{% for driver in avatar_drivers %}
					<option value="{{ driver.DRIVER }}" {% if driver.SELECTED %} selected="selected" {% endif %}
					        data-toggle-setting=".avatar_option_{{ driver.DRIVER }}">{{ driver.L_TITLE }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	{% for driver in avatar_drivers %}
		<tr class="avatar_option_{{ driver.DRIVER }}">
			<td class="row1" width="35%" colspan="2">
				<noscript><b class="genmed">{{ driver.L_TITLE }} </b><br/></noscript>
				{{ driver.L_EXPLAIN }}
			</td>
		</tr>
		{{ driver.OUTPUT }}
	{% endfor %}

	<tr>
		<td class="cat" colspan="2" align="center">
			{{ S_HIDDEN_FIELDS }}
			<input class="btnmain" type="submit" name="submit" value="{{ lang('SUBMIT') }}"/>
			&nbsp;&nbsp;
			{% if S_IN_AVATAR_GALLERY %}
				<input class="btnlite" type="submit" name="cancel" value="{{ lang('CANCEL') }}"/>
			{% else %}
				<input class="btnlite" type="reset" value="{{ lang('RESET') }}" name="reset"/>
			{% endif %}
		</td>
	</tr>
</table>

{% include 'ucp_footer.html' %}
