<tr class="avatar_option_avatar_driver_upload">
	<td class="row1" width="35%">
		<b class="genmed">{{ lang('UPLOAD_AVATAR_FILE') ~ lang('COLON') }}</b>
	</td>
	<td class="row2">
		<input type="hidden" name="MAX_FILE_SIZE" value="{{ AVATAR_UPLOAD_SIZE }}"/>
		<input type="file" name="avatar_upload_file" id="avatar_upload_file" class="post"
		       accept="{{ AVATAR_ALLOWED_EXTENSIONS }}"/>
	</td>
</tr>
{% if S_UPLOAD_AVATAR_URL %}
	<tr class="avatar_option_avatar_driver_upload">
		<td class="row1" width="35%">
			<b class="genmed">{{ lang('UPLOAD_AVATAR_URL') ~ lang('COLON') }}</b>
			<br/>
			<span class="gensmall">{{ lang('UPLOAD_AVATAR_URL_EXPLAIN') }}</span>
		</td>
		<td class="row2">
			<input class="post" type="text" name="avatar_upload_url" id="avatar_upload_url" size="40" value=""/>
		</td>
	</tr>
{% endif %}
